/* ======================
   GLOBAL STYLE
====================== */
body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    margin: 0;
    padding: 0;
}

/* Center all main boxes */
.login-box, .dashboard {
    width: 350px;
    background: #fff;
    padding: 25px;
    margin: 90px auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    text-align: center;
}

/* ======================
        LOGIN PAGE
====================== */

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-box input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background: #0056b3;
}

.error {
    margin-top: 15px;
    color: red;
    font-weight: bold;
}

/* ======================
      DASHBOARD PAGE
====================== */

.dashboard {
    width: 500px;
}

.dashboard h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 22px;
}

.dashboard a {
    display: block;
    background: #007bff;
    color: white;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.dashboard a:hover {
    background: #0056b3;
}
